	ul,li{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	input[type=button]{
		cursor: pointer;
	}
	.sort_ul{
		border: 1px solid #ccc;
		height: 350px;
		width: 1000px;

	}
	.sort_li{
		float: left;
		width: 10px;
		height: 100%;
		margin-right: 3px;
		position: relative;
	}
	.sort_span{
		width: 100%;
		display: block;
		height: 50%;
		background: #ddd;
	}
	.sort_span_blue{
		background: black;
	}
	.sort_span_green{
		background: green;
	}
	.sort_span_tag{
		background: red;
	}
	.sort_span_in{
		width: 100%;
		display: block;
		background: red;
		position: absolute;
		top: 0;

	}

	.sorting_btn{
		background-color: green;
		color: #fff;
		border: 1px solid green;
	}